{% extends 'index.html' %}

{% block body %}

<div class="container" id="oprow">
    <div class="row">
        <pre id="pre">
            This project was made by me, Dhruv Jain :)
            <img src="https://avatars.githubusercontent.com/u/95852713?v=4"  width=300 height=300>
            I am an Engineering Student in his Second Year with a deep passion for coding.
            I have only been coding for a year, but have been making the most of my time.
            You can check out my other projects <a href="https://github.com/dhruvj014?tab=repositories">here</a>
            I am not very active on Social Media but feel free to reach out to me via <a href="mailto:dhruv.j314@gmail.com">Email</a>
        </pre>
    </div>
</div>
<style>
    #wlcm {
        text-align: center;
        color: white;
    }

    #pre {
        /* text-align: center; */
        color: white;
    }

    #ftr1 {
        color: white;
        padding-bottom: 5%;
    }
    #oprow {
        background-color: transparent;
        text-overflow: ellipsis;
        padding: 5%;
        align-content: center;
    }
</style>
{% endblock  %}