{% extends 'index.html' %}

{% block body %}

<div class="container" id="oprow">
    <h4 id="errh">Welcome To The Home Page of this Animal Classification Model.</h4>
    <img src="https://raw.githubusercontent.com/dhruvj014/Animal-Identifier-WebApp/main/pics/uploader_img4.png" width=1100 height={{height}}>    
</div>
<style>
    #wlcm {
        text-align: center;
        color: white;
    }

    #errh {
        text-align: center;
        color: white;
    }

    #ftr1 {
        color: white;
        padding-bottom: 5%;
    }
    #oprow {
        background-color: transparent;
        align-content: center;
    }
</style>
{% endblock  %}